<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="1000"/>
        <setting name="jdbcTypeForNull" value="NULL"/>

        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!-- Member -->
        <typeAlias alias="MemberCreate" type="kr.co.dbinc.com.web.dto.member.MemberWriteRequestDto$MemberCreate"/>
        <typeAlias alias="MemberQueryResponse"
                   type="kr.co.dbinc.com.web.dto.member.MemberQueryResponseDto$MemberQueryResponse"/>

        <!-- ITEM -->
        <typeAlias alias="ItemCreate" type="kr.co.dbinc.com.web.dto.item.ItemWriteRequestDto$ItemCreate"/>
        <typeAlias alias="ItemQueryResponse" type="kr.co.dbinc.com.web.dto.item.ItemQueryResponseDto$ItemQueryResponse"/>

        <!-- ORDER -->
        <typeAlias alias="DeliveryCreate" type="kr.co.dbinc.com.web.dto.order.OrderWriteRequestDto$DeliveryCreate"/>
        <typeAlias alias="OrderCreate" type="kr.co.dbinc.com.web.dto.order.OrderWriteRequestDto$OrderCreate"/>
        <typeAlias alias="OrderItemCreate" type="kr.co.dbinc.com.web.dto.order.OrderWriteRequestDto$OrderItemCreate"/>
        <typeAlias alias="OrderListRow" type="kr.co.dbinc.com.web.dto.order.OrderQueryResponseDto$OrderListRow"/>
    </typeAliases>
</configuration>
